.landing-content{
    background-color: #ACE7F8;
}
.scrollbar {
    position: relative;
    height: 700px;
    overflow: auto;

  }
  .table-wrapper-scroll-y {
    display: block;
  }
.nav{
    background-color: grey
}
.table{
    background-color: #ACE7F8;
}
.border{
    background-color: #ACE7F8;
}
.compcharts{
    background-color: #ACE7F8;
}
.description{
    background-color: #ACE7F8;
}

#floated{
    float: left;
    width: 75%; 
    height: auto; 
    object-fit: contain; 
}